# Ignore everything
*

# But not these files...
!.gitignore
!*Program.cs
!*Subsystems.cs
!*Tasks.cs
# etc...

# ...even if they are in subdirectories
!*/
!SharedProjects/*.cs
!SharedProjects/*/*.cs